@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
:root {
	--dark-color-a: #201f22;
	--dark-color-b: #3b3b3b;

}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	background-color: rgb(20, 20, 20);
	margin: 20px;
	color: rgb(255, 255, 255);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	background-color: black;
	color: #03E9F4;
	border: none;
	display: inline-block;
	font-size: 24px;
	letter-spacing: 4px;
	padding: 6px 6px;
	overflow: hidden;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
	cursor: pointer;
	border-radius: 20px;
}
.btn:hover, .btn:focus
 {
	background: #03E9F4;
	box-shadow: 0 0 5px #03E9F4, 0 0 25px #03E9F4, 0 0 50px #03E9F4, 0 0 200px #03E9F4;
	color: #f3f3f3;
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background-color: rgba(216, 109, 216, 0.561);
	margin: 30px auto;
	overflow: hidden;
	border-radius: 5px;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
	background-color: #fff;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	overflow-wrap: break-word;
}
#color {
	margin: 10px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: rgb(222, 197, 250);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: rgb(180, 180, 180);
}
#username {
	border: none;
	border-left: 5px solid;
	background: none;
	border-color: rgb(250, 250, 250);
	color: #fff;
	font-weight: 300;
	font-size: 18px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
#username:focus {
	outline: 0;
	color: black;
	background: rgba(255, 255, 255, 0.719);
	border-radius: 20px;
	border-color: transparent;
}

#room {
	border: none;
	border-left: 5px solid;
	background: none;
	border-color: rgb(250, 250, 250);
	color: #fff;
	font-weight: 300;
	font-size: 18px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	margin: 8px auto 8px;
}
#room:focus {
	outline: 0;
	color: black;
	background: rgba(255, 255, 255, 0.719);
	border-radius: 20px;
	border-color: transparent;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
	box-shadow: 1px 1px 50px 5px black;
}

.join-header {
	font-family: 'Playfair Display', serif;
	text-align: center;
	padding: 20px;
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(32,32,32,1) 66%, rgba(60,60,60,1) 100%);
}
#color {
	display: flex;
	flex-direction: row-reverse;
	margin: 10px auto;
}
#hexcolor {
	border: none;
	border-left: 5px solid;
	background: none;
	border-color: rgb(250, 250, 250);
	color: #fff;
	font-weight: 300;
	font-size: 18px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
#hexcolor:focus {
	outline: 0;
	color: black;
	background: rgba(255, 255, 255, 0.719);
	border-radius: 20px;
	border-color: transparent;
}

#colorPicker {
-webkit-appearance: none;
padding: 0;
border: none;
border-radius: 10px;
width: 55px;
height: 40px;
}
#colorPicker::-webkit-color-swatch {
border-radius: 2px;
padding: 0;
}
#colorPicker::-webkit-color-swatch-wrapper {
border-radius: 10px;
padding: 0;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
	-webkit-box-reflect: below 5px;
	-webkit-box-reflect: below 5px linear-gradient(transparent, #0005);	
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

select {
	background:#dbdbdb;
	border:none;
	border-radius:3px;
	color:black;
	outline:none;
	font-weight:bold;
	font-size:1.2rem;
	box-shadow:1px 4px 15px #646464;
	font-family: 'Oswald', sans-serif;
	cursor:pointer;
	margin: 8px auto 8px;
}

#text_preview_container {
	color: black;
	background-color: #eee;
    padding: 3px 5px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-top: 0px;
}
#categs {
	margin: 5px auto 10px;
	text-decoration: underline;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.text-container > h1 {
	font-family: 'Courgette', cursive;
	background: rgb(0,67,136);
	background: linear-gradient(180deg, rgba(0,67,136,1) 0%, rgba(1,101,175,1) 47%, rgba(0,187,176,1) 100%);
    background-size: 100%;
    background-clip: text;
	-webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
	text-transform: uppercase;
	font-size: 45px;
	animation: glow 3s ease-in-out infinite;
	cursor: pointer;
  }

  @keyframes glow {
	0%, 100% {
		
	  color: rgb(255, 255, 255);
	  text-shadow: 0 0 25px #03c4f4, 0 0 75px #03f4e8, 0 0 100px #03ecf4, 0 0 200px #03d8f4;
	}
	100%, 100% {
		color: rgb(148, 148, 148);
		text-shadow: none;
	  }
	}
	.join-header {
		animation-delay: 1.26s;
	}
	
	
@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}
